body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background: white;
    width: 800px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 8px;
}

.subtitle {
    text-align: center;
    color: gray;
    margin-top: 5px;
    letter-spacing: 1px;
}

img {
    width: 180px;
    display: block;
    margin: 0 auto 15px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 0 auto 15px;
}

h2 {
    margin-top: 30px;
}
